$lt-gray: #CCCCCC;
$lt-gray2: #aaaaaa;
$rich-gray: #5e5e5e;
$gray: #6B6B6B;
$charcoal: #444444;
$black: #141414;
$white: #ffffff;

$lt-aqua: #66FFFF;
$aqua: #44AAAA;
$md-aqua: #2B6B6B;
$blue-green: #265E5E;
$jade: #1B4444;

$yellow: #FFFF00;
$gold: #AAAA00;
$dull-gold: #6B6B00;
$olive: #5E5E00;
$dk-olive: #444400;

$orange: #FF8103;
